// ---------- Colors ----------------
$c-green: #1a5a4c;
$c-green-opacity-50: rgba(26, 90, 76, 0.5);
$c-red: #f14a27;
$c-black: #000;
$c-black-opacity-75: rgba(0, 0, 0, 0.75);
$c-gray: #c4c4c4;
$c-gray-light: #d7dde3;
$c-white: #fff;
$c-text-deep-black: #0f0e08;
$c-text-dark-gray: #687480;
$c-text-charcoal: #4e4e4e;

// ----------  Fonts  ----------------

$ff-main: 'Montserrat', sans-serif;
$ff-second: 'IBM Plex Sans', sans-serif;

// ---------- Breakpoints ----------------
$bp-mobile: 320px;
$bp-tablet-small: 640px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-design: 1440px;

// ---------- Spacing ----------------
$container-max-width: 1280px;
$container-padding-mobile: 20px;
$container-padding-tablet-small: 40px;
$container-padding-tablet: 40px;
$container-padding-desktop: 55px;

// ---------- Transitions ----------------
$transition: 0.3s ease;
